
<h1>Listando todos los productos </h1>

<p>
  <%= link_to 'Dar de alta nuevo producto', new_product_path %>
</p>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
  </tr>
  <% @product.each do |product| %>
    <tr>
      <td>
        <p>
           <%= product.name %>
         </p>
       </td>
       <td>
         <p>
           <%= product.description %>
         </p>
       </td>
     <td>
       <p>
          <%= link_to 'Editar', edit_product_path(product)%>
        </p>
      </td>
      <td>
        <p>
          <%= link_to 'Ver', product_path(product)%>
        </p>
      </td>
    </tr>
   <% end %>
</table>
