  <nav class="navbar navbar-dark bg-primary navbar-inverse  example6">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "ServoSystem", root_path,id: "logo", class: "navbar-brand text-hide" %>
      </div>
      <div id="navbar6" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
         <% if (current_page?(controller:'pages', action:'home')) %> <li class="active"> <% else %> <li> <% end %>
            <%= link_to "Inicio", root_path %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Productos <span class="caret"></span></a>
            <%= link_to 'Products', products_path %>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">CNC Industrial</li>
              <li><a href="#">Maquinas CNC</a></li>
              <li><a href="#">Arduino Controladores</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Automatización Industrial</li>
              <li><a href="#">Proyectos de automatización</a></li>
              <li><a href="#">Soluciones a medida</a></li>
            </ul>
         </li>
         <% if (current_page?(controller:'pages', action:'about')) %> <li class="active"> <% else %> <li> <% end %>
            <%= link_to "Acerca de", about_path %>
         </li>
         <% if (current_page?(controller:'pages', action:'contact')) %> <li class="active"> <% else %> <li> <% end %>
            <%= link_to "Contáctenos", contact_path %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
