<!DOCTYPE html>
<html>
  <head>
    <title>ServoSystem Garro, la tienda online de partes para CNC </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <%= yield %>
    <% flash.each do |name, msg| %>
      <ul>
        <li>
          <%= msg%>
        </li>
      </ul>
    <% end %>


    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
